body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0 0 50px;
    background-color:rgb(250, 235, 215);
}
#zadatak1 h1 {
    color: rgb(102, 64, 51);
    border-bottom: 3px double currentColor;
    text-align: center;
}
#zadatak1 h1, #zadatak1 table {
    width: 340px;
    margin-left:auto;
    margin-right:auto;
}
#zadatak1 table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
#zadatak1 th {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(102, 64, 51);
    text-transform: uppercase;
    color: white;
    text-align: center;
    height: 40px;
}

#zadatak1 td {
    border: 1px solid black;
}

#zadatak1 tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.37);
}




#zadatak3 {
    clear: both;
    margin:auto;

}
#zadatak3 ul {
    list-style: none;
    margin: auto;
    
}
#zadatak3 li {
    width: 200px;
    background-color: rgb(107, 142, 35);
    border-bottom: 1px solid white;
    margin: auto;
}
#zadatak3 li a {
    color: white;
    font-family: Calibri;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
}

#zadatak3 li:first-child a:hover {
    font-family: Courier;
    font-size: 22px;
    text-shadow: 3px 3px 2px rgb(32, 178, 170);
}
#zadatak3 li:nth-child(2) a:hover {
    font-style: italic;
}
#zadatak3 li:nth-child(3) a:hover {
    background-color: rgb(32, 178, 170);
}
#zadatak3 li:nth-child(4) a:hover {
    color: rgb(32, 178, 170);
}
#zadatak3 li:nth-child(5) a:hover {
    text-decoration: underline;
}

#zadatak3 h1 {
    text-transform: uppercase;
    color: rgb(107, 142, 35);
    text-align: center;
}





